body { background: #1d2c18; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 44px; display: flex; }
.block-product-0 { color: #ed822f; font-size: 16px; margin-bottom: 5px; }
.block-notify-1 { color: #bdadfd; font-size: 14px; margin-bottom: 5px; }
.block-email-2 { color: #b8f7f5; font-size: 14px; margin-bottom: 5px; }
.block-helper-3 { color: #61768e; font-size: 20px; margin-bottom: 5px; }
.block-token-4 { color: #1b9a89; font-size: 14px; margin-bottom: 5px; }
.block-sms-5 { color: #725b82; font-size: 12px; margin-bottom: 5px; }